<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">socialite</h3>
</div>
 -->
<header>
  <span class="title">#SXSW</span>
</header>
<div ng-repeat="feed in feeds" class="row marketing clear">
  <div class="col w30">
    <img ng-src="{{feed.image.url}}"  />
  </div>
  <div class="col w70">
      <div class="description">
       <h3>{{feed.author}}</h3>
       <span ng-repeat="tag in feed.tags">{{tag}} &nbsp;</span>
       </div>
  </div>
</div>
<footer>
    <h2>Built by MakerSquare</h2>
</footer>