<h1>Settings</h1>
	<h2>Twitter</h2>

	<input type="text" ng-model="twitter.secretKey" placeholder="Secret Key" />
	<button ng-click="twitterAuthenticate()">Authenticate</button>
	<br /><br />
	<button ng-click="twitterUnAuthenticate()">Remove Twitter Auth</button>

	<h2>Instagram</h2>

	<input type="text" ng-model="secretKey" placeholder="Secret Key" />
	<button ng-click="instagramAuthenticate()">Authenticate</button>
	<br /><br />
	<button ng-click="instagramUnAuthenticate()">Remove Instagram Auth</button>

